API_ENV=dev
API_HOST=0.0.0.0
# Porta da API (8001 para não conflitar com outros serviços em 8000)
API_PORT=8001
OLLAMA_HOST=http://192.168.15.30:11434
JWT_SECRET=changeme
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60
